body {
    min-width: 1920px;
    font-size: 20px;
    line-height: 150%;
    font-family: 'Graphik LCG';
    font-weight: normal;
    color: #051534;
    background-color: #F5F5F5;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: #051534;
    text-decoration: none;
}
a:hover {
    color: #1d386e;
}

a:focus {
    color: #3760b3;
}

/* ПРАВКИ */

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
}

.container {
    margin: 0 auto;
    width: 946px;
}

.wide-container {
    margin: 0 auto;
    width: 1920px;
}

.section-heading {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 110%;
}

/* Стили для шапки */

.page-header {
    margin-bottom: -110px;
}

.page-header .wide-container {
    display: flex;
    align-items: baseline;
    padding-top: 36px;
    padding-bottom: 46px;
}

.logo {
    display: flex;
    align-self: normal;
    margin-right: 100px;
    margin-left: 30px;
    font-size: 16px;
    line-height: 20px;
}
.img1{
    margin-right: 9px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: 819px;
    padding: 0;
    list-style: none;
}

.nav-item {
    margin-right: 30px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    font-size: 18px;
    line-height: 19.8px;
}

.button_nav-button1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(5, 21, 52, 0.3);
    border-radius: 4px;
}

.button_nav-button1:hover {
    color: #5a5353;
    border-color: white;
    background-color: white;
}

.button_nav-button1:focus {
    color: #5a5353;
    border: 1px solid rgba(5, 21, 52, 0.3);
    background-color: white;
}

.button_nav-button2 {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(5, 21, 52, 0.3);
    background: #0F8FF9;
    border-radius: 4px;
}

.button_nav-button2:hover {
    color: #e7e6e6;
    border-color: white;
    background-color: #0F8FF9;
}

.button_nav-button2:focus {
    color: #e7e6e6;
    border: 1px solid rgba(5, 21, 52, 0.3);
    background-color: #0F8FF9;
}


/* Стили для промо блока */

.promo {
    padding-top: 230px;
    padding-bottom: 20px;
    background-color: #F5F5F5;
}

.promo-text {
    
}

.main-heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 65px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.01em;
    
}

.promo-description {
    margin-top: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
}

/* Стили для блока c колонками */

.column {
    padding-top: 0px;
    padding-bottom: 20px;
}
.container_column {
    margin: 0 auto;
    width: 1140px;
}

.half-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-wrap_pos1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px;
    background: #FFF0F7;
    border-radius: 8px;
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
}

.column_1_1{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 padding: 25px;
}

.column_2{

    margin-right: 24px;
}
.column_3{
    margin-right: 24px;
}

.column_4{
    margin-right: 24px;
}

.text-wrap p {
    margin-top: 0;
}


